apex==0.9.10dev
datasets==4.1.1
filelock==3.20.0
huggingface_hub==0.34.4
matplotlib==3.10.7
numpy==2.3.4
optuna==4.5.0
packaging==25.0
pandas==2.3.3
scikit_learn==1.2.2
scipy==1.16.3
sentence_transformers==4.1.0
torch==2.1.2
torch_xla==2.8.1
torchprofile==0.0.4
tqdm==4.67.1
transformers==4.28.1
accelerate==0.17.1
